.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 3%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#radar_graph{
  width: calc(100% - 30px);
  position: absolute;
}

#histogram1,
#histogram2 {
  width: calc(100% - 30px);
  background-color: #f9f9f9;
}

#bar_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#barGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  align-items: center;
}

#title {
  text-align: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 10px;
  padding-left: 25px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#democrate,
#unification,
#justice,
#no_party {
  flex: 1;
}

#aggregate_data {
  align-items: center;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#cross-filter-options{
  padding-top: 30px;
  padding-bottom: 30px;
}

#province,
#metropolitan,
#variable{
  padding-bottom: 15px;
}

#histogram1{
  padding-bottom: 10px;
}

#histogram2{
  padding-top: 10px;
}

/* #scatter_graph{
  padding-right: 25px;
  padding-left: 15px;
  background-color: white;
} */